body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #90a4ae;
}
.container{
  height: 100vh;
  /* max-width:800px; */
  display:flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.temp-box{
  display:flex;
  flex-direction: row;
  background-color: #cfd8dc;
}
.day{
  margin: 30px;
}

.icon{
  height: 60px;
  padding-bottom: 40%;
}
.date{
  padding-bottom: 30%;
}
.maxTemp{
  padding-bottom: 8%;
}
button{
  margin-top: 20px;
  width:200px;
  background-color: #62757f;
  color:lightgray;
  padding:10px;
  border-radius: 5px;
  font-size:16px;
}
@media screen and (max-width: 800px){
  .temp-box{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #90a4ae;
  }
  .box{
    background-color: #cfd8dc;
    margin:0 10px 10px 0;
  }
}